@use "../base/global" as *;

/* ===== BOUTONS ===== */
.of-btn {
  display: inline-block;
  width: 218px;
  height: 50px;
  border: none;
  border-radius: 25px;
  cursor: pointer;

  font-family: $font-main;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  color: $color-white;

  transition: all 0.3s ease;
  opacity: 1;

  // bouton principal
  &--primary {
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    box-shadow: 0px 4px 10px 0px #00000040;

    &:hover {
      background: linear-gradient(
          200.64deg,
          #9356DC -5.2%,
          #FF79DA 110.74%
        ),
        linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
      box-shadow: 0px 4px 15px 0px #00000059;
      filter: brightness(1.05);
    }
  }
}