@use "../base/global" as *;

/* ===== FOOTER ===== */
.of-footer {
  background:$color-text;
  color: $color-white;
  padding-block: 25px;
  padding-inline: 25px;

  &__brand {
    display: block;
    margin-bottom: 25px;
  }

  &__logo {
    font: 400 18px/1 $font-title;
  }

  &__links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-top: 20px;
    max-width: 520px;

    a {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 16px;
      color: inherit;          // hérite du blanc du parent
      text-decoration: none;
    }

    i {
      font-size: 13px;
      width: 22px;             
      flex: 0 0 22px;         
    }

  
  }
}

/* ===== FOOTER — tablette et + ===== */
@media (min-width: $bp-desktop) {
  .of-footer {
    position: relative;
    background: $color-text;
    color: $color-white;
    padding-block: 65px 30px;    
    padding-inline: 0;
  }

  
  .of-footer__logo {
   position: absolute;
   right: 65px;     

    
  }

  /* Liste des liens centrée horizontalement */
  .of-footer__links {
    max-width: none;
    margin: 0 auto;              
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 40px;                   
    padding-right: 20%;
  }

  .of-footer__links a {
    font-size: 16px;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .of-footer__links i {
    width: 22px;
    flex: 0 0 22px;
    font-size: 13px;
  }
}