@use "../base/global" as *;

/* ===== HEADER ===== */
.of-header {
  background: $color-white;

  &__brand {
    padding-block: 16px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
  }
}



/* ===== BARRE DE LOCALISATION ===== */
.location {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  background: $color-citybar;
  box-shadow: 0 4px 4px rgba(0,0,0,.25);
  padding: 12px 16px;

  &__icon i {
    font-size: 16px;
    color: $color-text;
  }

  &__input {
    border: 0;
    background: transparent;
    font: 500 16px/1 $font-main;
    color: $color-text;
    caret-color: $color-text;
  }
}