@use "../base/global" as *;

/* ===== HERO ===== */
.of-hero {
  text-align: center;
  background: $color-light;
  padding: 40px 20px 50px;

  &__title {
    margin-inline: 18px;   
    margin-bottom: 16px;
    font-weight: 700;
    color: $color-black;
  }

  &__subtitle {
    font: 300 18px/1.4 $font-main;
    color: $color-text;
    margin-bottom: 30px;
  }
}

/* ===== RESPONSIVE ===== */
@media (min-width: $bp-tablet) {
  .of-hero {
    padding-block: 40px; 
  }
}